<!-- templates/base.html -->

<!-- use the static folder -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Blog</title>
    <!-- add the static/css file -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?
    family=Source+Sans+Pro:400"
    />
  </head>
  <body>
    <header>
      <!-- update for a new view -->
      <div class="nav-left">
        <!-- new-->
        <h1>
          <a href="{% url 'home' %}">Django Blog</a>
        </h1>
      </div>
      <div class="nav-right">
        <!-- new-->
        <h1>
          <a href="{% url 'post_new' %}">+ New Blog Post</a>
        </h1>
      </div>
    </header>
    <!-- logic if the user successed on logging in or not -->
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> |
    <!-- Adding new link for sign up -->
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <!-- endofif -->
    {% block content%}
    <!-- future content -->
    {% endblock content%}
  </body>
</html>

<!-- after updating a new template, let's add a new URL(url.py) for post_new
import a BlogCreateView (our CBV)that is not created YET. then add a URL path for post/new/ and give it a name of post_new -->

<!-- after adding user authentication in login lets now add Logout link -->
